<!DOCTYPE html>
<html ng-app="ShopApp">
<head>
    <title>AngularJS shop</title>
    <meta charset="utf-8" />
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="content/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
                    <span class="fa fa-1x" ng-class="navbarExpanded ? 'fa-chevron-up' : 'fa-chevron-down'"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse {{navbarExpanded ? 'in' : ''}} navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <li ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li ng-hide="authentication.isAuth"> <a href="/#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-view="">
        </div>
    </div>

    <script type="text/ng-template" id="productTemplate">
        <img ng-src="{{getImageUrl(product.img)}}" />
        <h3>{{product.title}}</h3>
        <p>{{product.text}}</p>
    </script>
    <script type="text/ng-template" id="reviewsTemplate">
        <div ng-repeat="review in reviews | orderBy:dateValue('created_at'):true">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{{review.created_by.username}}</span>
                    <span class="rate-box" star-rating ng-model="review.rate" readonly="true"></span>
                    <span>{{review.rate}}</span>
                </div>
                <div class="panel-body">
                    <p>{{review.text}}</p>
                    <span class="rate-date">{{review.created_at | date : "MMM d, y h:mm:ss a"}}</span>
                </div>
            </div>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="scripts/vendors/angular-local-storage.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/productsService.js"></script>
    <script src="app/directives/rateDirective.js"></script>
    <script src="app/directives/checkPasswordDirective.js"></script>
    <script src="app/controllers/productsController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/productInfoController.js"></script>
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/loginController.js"></script>
</body>
</html>

