<div ng-controller="signupController">
    <form name="signUpForm" ng-submit="signUp()" novalidate class="form-login">
        <h2 class="form-login-heading">Sign up</h2>
        <input name="userName" type="text" class="form-control" placeholder="Username" ng-model="registration.userName" required autofocus>
        <p class="error" ng-show="showValidation">
            {{getError(signUpForm.userName.$error)}}
        </p>
        <input name="password" type="password" class="form-control" placeholder="Password" id='pw1' ng-model="registration.password" required>
        <p class="error" ng-show="showValidation">
            {{getError(signUpForm.password.$error)}}
        </p>
        <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
               ng-model="registration.confirmPassword" required compare-to='registration.password'>
        <p class="error" ng-show="showValidation">
            {{getError(signUpForm.confirmPassword.$error)}}
        </p>
        <button class="btn btn-lg btn-info btn-block" type="submit">Submit</button>
        <div ng-hide="message == ''" ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </form>
</div>
